body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: left;
    width: 100%;
    line-height:30px;
    box-sizing: border-box;
}

header{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    background-color: #4aaaa5;
    border-bottom: none;
    height: 150px;
    width: 400 px;
    margin-bottom: none;
    margin-left: 125px;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    margin-top: 25px;
    text-align: center;
}

li{
    display: inline;
}

nav{
    width: 270px;
    float: right;
    text-align: right;
    margin-right: 125px;
}

.main-container{
    clear: both;
    margin: 0 auto;
    overflow: auto;
    background-image: url("../images/subtle.jpg");
    height: 100%;
    width: 100%;
    border-bottom: 5px solid #4aaaa5;
}

#main-bio{
    height: auto;
    padding: 20px;
}
 
#main-bio{
    position: auto;
    text-align: left;
    width: 650px;
    margin-top: 30px;
    margin-left:125px;
    margin-bottom: 50px;
    background-color:  #ffffff;
}

#social-links{
    float: right;
    padding: 10px;
    position: auto;
    width: 270px;
    top: 30px;
    text-align: center;
    margin-right: 125px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

footer{
    clear: both;
    margin: 0 auto;
    vertical-align: middle;
    padding: 18px;
    height: 70px;
    background-color: #666666;
    width: 100%;
    border-bottom: none;
    color: #777777;
    text-align: center;
}